@{
    ViewData["Title"] = "Home Page";
}
<style>
    #skillsTable {
        width: 100%
    }

    #skillsTable td {
        border: solid 1px;
    }
    #skillsTable tr:nth-child(odd) td {
        background-color: white;
    }
    #skillsTable tr:nth-child(even) td {
        background-color: lightgray;
    }
    .wideRow {
        width: 100%;
    }

    #ProffDev2017DivTop {
        border-bottom: solid 2px;
        margin-bottom: 1px;
    }

    #ProffDev2017DivBottom {
        border-bottom: solid 2px;
    }

    #ExperienceSect {
        border-bottom: solid 2px;
    }

    #ExperienceTitleLCI {
        font-weight: bold;
    }
</style>

<div class="row">
    <div class="col-md-3 wideRow">
        <h1>Jason P. Watson</h1>
        <h1>Full-Stack Developer</h1>
    </div>
    <div class="col-md-3 wideRow">
        <h2>Summary</h2>
        <ul>
            <li>Over 10 years of experience developing web applications for customers including government agencies, professional employer organizations (PEO), and financial institutions.</li>
            <li>Highly committed to writing quality code and automated tests.</li>
            <li>Strong background with agile development, with 3 years of experience.</li>
            <li>Skilled in both front-end and server-side development.</li>
        </ul>
    </div>
    <div class="col-md-3 wideRow">
        <h2>Skills</h2>
        <table id="skillsTable">
            <tr>
                <td>Languages</td>
                <td>C#, Javascript, CSS, HTML5, SQL</td>
            </tr>
            <tr>
                <td>Front-end libraries</td>
                <td>Angular, jQuery, Bootstrap</td>
            </tr>
            <tr>
                <td>Server-side libraries & platforms</td>
                <td>ASP.NET MVC 4, Razor syntax</td>
            </tr>
            <tr>
                <td>Servers & databases</td>
                <td>IIS, MS SQL</td>
            </tr>
            <tr>
                <td>Additional tools & libraries</td>
                <td>NUnit, JIRA, Git, Team Foundation Server</td>
            </tr>
        </table>
    </div>
    <div class="col-md-3 wideRow">
        <h2 id="ProffDev2017DivTop">Professional Development (2017)</h2>
        Completed the “ASP.NET Core Fundamentals” by Scott Allen<br />
        Completed the “Angular 2 Getting Started Update” by Deborah Kurata<br />
        <div id="ProffDev2017DivBottom">Completed Reporting Services Report Server Administration by Stacia Misner Varga</div>
    </div>
    <div class="col-md-3 wideRow">
        <h2 id="ExperienceSect">Experience</h2>
        <div id="ExperienceTitleLCI">Senior Certified .NET Developer, Federal Aviation Administration (Contract) 07/2016 - 06/2017</div>
        <ul>
            <li>Implemented UI and server-side components for file upload functionality in a workflow application.  This led to FAA employees having a centralized view of action request information.</li>
            <li>Improved accessibility of the workflow application while following 508 compliance guidelines.</li>
            <li>Used C#, ASP.NET MVC 4, Razor syntax, jQuery, Angular, HTML5, Javascript, Entity Framework and Bootstrap.</li>
        </ul>
    </div>
</div>
